<div class="auth-page">
  <div class="main">
    <div class="headers">
      <h4>Authentication</h4>
    </div>
    <div class="container">
        <div class="left">
            <h3>Don't have account ?</h3>
            <h5 class="text-p">If you don't have an account yet, you can easily create one to access all features.</h5>
            <h5 class="text-info">Creating an account allows you to manage your tasks, track your progress, and sync across devices.

            </h5>
            <h5 class="text-info">Registration is quick and simple. Just click the link below to get started!</h5>
            <p><a href="/auth/register">Register here</a></p>
        </div>
        <div class="right">
            <h3>Have account </h3>
            <p><a href="/auth/login">Login</a></p>
        </div>
    </div>
  </div>
</div>
