<header>
  <nav>
    <div class="logo">
      <h4><a routerLink="">Task Client</a></h4>
    </div>
    <div class="navbar">
      <a class="navbar-item" ariaCurrentWhenActive="page" routerLinkActive="active" routerLink="tasks">Tasks</a>
      <a class="navbar-item" ariaCurrentWhenActive="page" routerLinkActive="active" routerLink="teams">Teams</a>
      <a class="navbar-item" ariaCurrentWhenActive="page" routerLinkActive="active" routerLink="users">Users</a>
      <a class="navbar-item" ariaCurrentWhenActive="page" routerLinkActive="active" routerLink="kpi">KPI</a>
      <a class="navbar-item" ariaCurrentWhenActive="page" routerLinkActive="active" routerLink="faq">Faq</a>
    </div>
    <div class="auth">
      <a class="navbar-item" ariaCurrentWhenActive="page" routerLinkActive="active"  routerLink="login">Login</a>
    </div>
  </nav>
</header>
<main class="main">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</main>
