<div class="home">
    <h1>Hello, {{ title }}</h1>
    <p>Congratulations! Your app is running. 🎉</p>
    <h4>Up todo</h4>
    <ul>
        <li>create home page with cards of tasks and Add button</li>
        <li>Login page should appear different to home or other pages</li>
        <li>it should connect to rest api</li>
        <li>tasks page, should contain tasks list or grid</li>
        <li>if user is admin, should be able to add user</li>
        <li>teams page show list of team members and tasks progress</li>
        <li>kpi page, if admin he/she can see all users kpi, can show single user kpi</li>
    </ul>
</div>
